    <%- include ('../parcial/header.ejs') ;%>

    <header>
                <nav class="menuPrincipal">
                        <ul class="list">
                                <li><a class="menu" href="/">Menu</a></li>
                                <li><a class="voltar" href="/pacaembu/pacaembuMenu">Voltar</a></li>
                                <li><a href="#">Corretores</a></li>
                                <li><a href="#">Financiamento</a></li>
                                <li><a href="/pacaembu/vilaDiCapri/ProjetosModeloMenu">Projetos Modelo</a></li>
                                <li><a href="#">Investimento</a></li>
                        </ul>
                </nav>

    </header>

    <div id='corpo'>

            <%= titulo %>
            <div class="img_menu">
                <img class="img_menu" src="/imagens/pacaembu/vila_image.jpg" alt="Vila di Capri">
            </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

