    <%- include ('../parcial/header.ejs') ;%>

    <header>
                <nav class="menuPrincipal">
                        <ul class="list">
                                <li><a class="voltar" href="/">Voltar</a></li>
                                <li><a href="#">Parque Universitário</a></li>
                                <li><a href="/pacaembu/vilaDiCapriMenu">Villa de Capri</a></li>
                                <li><a href="#">Vitta Residencial</a></li>
                                <li><a href="#">Quinta D'Oeste</a></li>
                                <li><a href="#">Viva Real</a></li>
                        </ul>
                </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

            <div class="img_menu">
                    <img class="img_menu" src="/imagens/pacaembu/pacaembu.jpg" alt="Pacaembu"> 
            </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

