    <%- include ('../parcial/header.ejs') ;%>

    <header>
                <nav class="menuPrincipal">
                        <ul class="list">
                                <li><a class ="menu" href="/">Menu</a></li>
                                <li><a class="voltar" href="/pacaembu/vilaDiCapriMenu">Voltar</a></li>
                                <li><a href="#">Casas</a></li>
                                <li><a href="#">Apartamentos</a></li>
                                <li><a href="#">Lazer</a></li>
                                <li><a href="#">Ediculas</a></li>
                                <li><a href="#">Sobrados</a></li>
                        </ul>
                </nav>

    </header>

    <div id='corpo'>

            <%= titulo %>
            <div class="img_menu">
                <img class="img_menu" src="/imagens/pacaembu/projetosModelo_image.jpg"  alt="Projetos Modelo">
            </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

