    <%- include ('../parcial/header.ejs') ;%>

    <header>
                <nav class="menuPrincipal">
                        <ul class="list">
                                <li><a class="voltar" href="/">Voltar</a></li>
                        </ul>
                </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

            <div class="img_menu">
                    <img class="img_menu" src="/imagens/parra/parra_img.jpg" alt="Parra"> 
            </div>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

