    <%- include ('../parcial/header.ejs') ;%>

    <header>
                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/">Início</a></li>
                                <li><a href="/classificados/classificadosAutomovelMenu">Voltar</a></li>
                                <li><a href="/classificados/classificadosAutomovelVolkswagenGolMenu">Gol</a></li>
                                <li><a href="/classificados/classificadosAutomovelVolkswagenFuscaMenu">Fusca</a></li>
                                <li><a href="/classificados/classificadosAutomovelVolkswagenBrasiliaMenu"">Brasilia</a></li>
                        </ul>
                </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

